.container{
    margin-top: 5%;
    max-width: 280px;
}
label{
    font-weight: bold;
    font-size: 13px;
}

br{
    line-height: 40px;
}

.btn-info, .btn-primary, .btn-success{
    width: 50%;
}

p{
    font-size: 12px;
    line-height: 50px;
}