body{
	background-color: #e7e7e7;
}
.container-fluid{
    margin-top: 5%;
}
.submit-id{
	margin-top: 5%;
}

.input-id{
	margin-bottom: 5%
}

form{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.form-group label{
    font-weight: bold;
    font-size: 13px;

}
a{
	text-decoration: none;
}

.inquiry{
	border: solid #a2a2a2 1px;
	background-color: #e7e7e7;
	font-weight: bolder;
	padding-top: 2%;
}