body{
	background-color: #e7e7e7;
}
a{
	text-decoration: none;
}
p{
	text-align: justify;
    text-justify: inter-word;
}
h1, h2, h3, h4, h5, h6{
	color: #204d94;
}
hr{
	margin-bottom: 0;
}
.tt{
	color: #214e94;
    font-size: 20px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#login form{
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}
#sel1{
	max-width: 150px;
}
#tabs{
	background-color: white;
	/*padding: 1em;*/
}
#id.container{
	margin-top: none;
	width: 70%;
	background-color: white;
	padding: 0 5% 5% 5%;
}
.form-group label{
    font-weight: bold;
    font-size: 13px;
}
.container{
	padding: 0 50px 0 15px;
}
.logout{
	font-size: medium;
    float: right;
    margin: 10px;
}
.logout a{
	font-size: large;
}
.logout a:hover{
	text-decoration: none;
}
#nav.container{
	margin-top: 1em;
}
.header{
	background-color: #c0beff;
	margin-top: 0;
	border-bottom: 1px solid #b6b6b6;

}
.submit-id{
	margin-top: 5%;
}

.input-id{
	display: block;
}
.inquiry{
	border: solid #a2a2a2 1px;
	background-color: #e7e7e7;
	font-weight: bolder;
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}
